@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

html {
    scrollbar-width: thin;
    scrollbar-color: #FBBF24 #E5E7EB;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #F3F4F6;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #FBBF24;
    border-radius: 10px;
    border: 2px solid #F3F4F6;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #F59E0B;
}

::-webkit-scrollbar-corner {
    background: transparent;
}
